.label {
    font-family: "Antonio", serif;
    font-size: 14px;
    font-weight: 600;
    color: #428be0;
    text-align: center;
    text-decoration: none;
}
.label:hover {
    color: #55a3ff;
}
@media screen and (max-width: 576px) {
    .label {
        font-size: 12px;
        padding: 4px 8px;
        border-radius: 16px;
    }
}
