.transactionPendingModal {
    position: absolute;
    width: 200px;
    left: 20px;
    bottom: 60px;
    z-index: 1000;
    background-color: rgba(27, 28, 39, 0.8);
    border-radius: 12px;
    padding: 10px 20px;
    box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: row;
}
.statusIcon {
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    font-size: 50px;
}
.frame10322 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch;
}

.frame10295 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
}
.frame10295 > * {
    margin-bottom: 10px;
}
.frame10295 > *:last-child {
    margin-bottom: 0;
}
.frame10293 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.pendingTransaction {
    font-family: "Antonio", serif;
    font-size: 28px;
    font-weight: 600;
    color: white;
    margin-bottom: 0;
}
.transactionStatus {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}
.frame10389 {
    height: 36px;
    position: relative;
}
.estimatedTime {
    width: 377px;
    font-family: "Antonio", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    color: black;
}
.frame10373 {
    background-color: rgba(249, 248, 255, 1);
    border-radius: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1.5px;
    top: -3px;
}
.num05d15h03m {
    font-family: "Antonio", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: rgba(15, 29, 64, 1);
    text-align: right;
}
.frame10391 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.frame10392 {
    border-radius: 1px;
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}
.rectangle4 {
    height: 8px;
    background-color: rgba(100, 51, 196, 1);
    border-radius: 8px;
    transition: width 2s ease-out;
}
.frame10393 {
}
.labelTwo {
}
@media screen and (max-width: 576px) {
    .transactionPendingModal {
        padding: 15px 20px;
    }
    .frame10293 {
        margin-bottom: 24px;
        width: 100%;
    }
    .pendingTransaction {
        font-size: 20px;
        line-height: 32px;
    }
    .frame10389 {
        width: 100%;
    }
    .estimatedTime {
        width: auto;
    }
    .frame10391 {
        width: 100%;
    }
    .frame10392 {
        margin-bottom: 12px;
    }
    .rectangle4 {
        height: 6px;
    }
    .labelTwo {
        padding: 8px 10px;
    }
    .spacer {
        width: 100%;
    }
}
